<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>index</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Enter A URL For A Check</h1>
      <form action = "/sendurl" method = "POST">
        <div class="input-group">
          <input type="text" name="url" placeholder="URL">
          <button name="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
