<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Input Page</title>
  </head>
  <body>
    <form action = "/sendurl" method = "POST">
      <div class="input-container">
        <h1>Input</h1>
        <input type="text" name="url">
      </div>
      <button name="subbmit">Upvote</button>
    <form>
  </body>
</html>