<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/riskyLink.css">
  </head>
  <body>
    <h1>This Link Is E·X·T·R·E·M·E·L·Y risky!</h1>
    <form action="/" method="get">
      <button type="submit">Go Back</button>
    </form>
  </body>
</html>